.form-container {
    display: flex;
    flex-direction: column;
}

.input-searchreposform {
    border-radius: 0px;
    margin-bottom: 12px;
}

.btn-submit {
    width: 100%;
    border-radius: 0px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-group {
        width: 85%;
    }

    .btn-submit {
        color: white;
        background-color: bl;
        width: 92px;
        height: 38px;
        border-radius: 0px;
    }
}